@import '../_variables.scss';
@import '../_animations.scss';

.main {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        max-width: 400px;
        height: auto;
    }

    .walletContainer {
        .address {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $paymaker-purple;
            border-radius: 30px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .details {
            font-size: smaller;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px;

            .logoutBttn {
                background-color: transparent;
                outline: none;
                border: none;
                cursor: pointer;

                img {
                    height: 20px;
                    width: auto;
                }
            }
        }
    }
}