@import '../_variables.scss';
@import '../_animations.scss';

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 20px;

    h2 {
        font-weight: 500;
    }

    form {
        width: 50%;
    }

    .balanceContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 40%;

        span {
            color: $coinbase-blue;
        }
    }

    .formContainer {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .formRows {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 10px;
            max-height: 60vh;
            overflow-x: scroll;

            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .inputContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    width: 48%;

                    .rowHeader {
                        font-weight: 700;

                        span {
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }

                    input {
                        padding: 10px;
                        border-radius: 5px;
                        border: 2px solid lightgray;
                        outline: none;
                        width: 100%;
                        box-sizing: border-box;
                    }

                    .amounts {
                        &.confirmed {
                            color: $coinbase-blue;
                        }

                        &.success {
                            color: rgb(2, 201, 2);
                        }
                    }
                }

            }

            .rowActions {
                display: flex;
                align-items: center;
                justify-content: center;

                .addBttn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    margin: 20px;

                    img {
                        height: 20px;
                        width: auto;
                    }
                }

            }
        }

        .errorMsg {
            color: red;
        }
    }
}

.csvBttn {
    border: none;
    outline: none;
    background-color: rgb(228, 228, 228);
    color: black;
    font-weight: 700;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: rgb(204, 204, 204);
    }
}

.primaryBttn {
    border: none;
    outline: none;
    background-color: $coinbase-blue;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: lighten($coinbase-blue, 20%);
    }

    &:disabled {
        background-color: lighten($coinbase-blue, 20%);
        pointer-events: none;
    }
}

.secondaryBttn {
    border: none;
    outline: none;
    background-color: rgb(228, 228, 228);
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: rgb(204, 204, 204);
    }
}