@import './_variables.scss';
@import './_animations.scss';

.main {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 90px;

        img {
            max-width: 400px;
            height: auto;
        }

        .taglines {
            color: $paymaker-purple;
            text-align: right;
        }
    }

    .steps {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        max-width: 800px;

        .step {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 140px;

            .subtitle {
                font-size: 12px;
                margin-top: 20px;
            }
        }
    }

    .startBttn {
        font-size: 20px;
        font-weight: bold;
        padding: 20px 40px;
        background-color: #EEF0F3;
        color: black;
        border-radius: 30px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}